<footer id="layout-footer">
    <div id="footer-main">
        <p>
            &#169; Anti Social@Aniket Kumar
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>