<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/signin_andup.css">
</head>
<body>
    <div id="login-form-wrap">
        <h2>Sign Up</h2>
        <form id="login-form" action="/users/create" method="POST">
          <p>
            <input type="text" name="name" placeholder="Your Name" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
          <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input type="password" id="username" name="password" placeholder="password" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input type="submit" id="login" value="Sign Up" required>
          </p>
        </form>
        <div id="create-account-wrap">
          <p>Already have an Account? <a href="/users/sign-in">Login</a><p>
        </div><!--create-account-wrap-->
      </div><!--login-form-wrap-->
      <!-- partial -->
        
</body>
</html>