#layout-footer {
  color: white;
  font-size: 20px;
  font-style: italic;
  background-color: #050523;
  background-image: linear-gradient(90deg, #050523 0%, #0d527c 100%);
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  position: relative; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer #footer-main {
    width: 1400px; }
  #layout-footer .footer-nav {
    width: 200px; }
    #layout-footer .footer-nav ul {
      list-style: none; }
